.form-control:focus {
    border-color: #ed1a23 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;}

.simple-btn:hover {
    background: #ed1a23 !important;}

.default-title h2 span {
    color: #ed1a23 !important;}

.title-bdr .title-bdr-inside {
    background: #ed1a23 !important;}

/* Scrollup CSS */
.goto-top-section {
    background: #ed1a23 !important;}

.triangle {
    border-bottom: 35px solid #ed1a23 !important;
   }

.main-nav {
    
    border-top: 3px solid #ed1a23 !important;
    }

.main-nav .navbar-nav>li>a:hover {
    color: #ed1a23 !important;}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #ed1a23 !important;}

.main-nav .navbar-nav>.active>a, 
.main-nav .navbar-nav>.active>a:focus, 
.main-nav .navbar-nav>.active>a:hover {
    
    color: #ed1a23 !important;}

.time-top-box {

    background: #ed1a23 !important;
    }

.slider-main-title span {
    color: #ed1a23 !important;
    }

.join-btn:hover {
    background: #ed1a23 !important;
    border-color: #ed1a23 !important;
    }

.hero-content h1 b {
    color: #ed1a23 !important;}

.cd-headline.clip .cd-words-wrapper::after {
    background-color: #ed1a23 !important;}

.about-title {
    border-left: 2px solid #ed1a23 !important;
   }

.rtl-theme .about-title {
    border-right: 2px solid #ed1a23 !important;}

.about-title h1 span {
    color: #ed1a23 !important;}

.schedule-chart h2 span {
    color: #ed1a23 !important;}

.schedule-chart .nav-tabs>li.active>a, 
.schedule-chart .nav-tabs>li.active>a:focus, 
.schedule-chart .nav-tabs>li.active>a:hover {
    border-radius: 0;
    background: #ed1a23 !important;
    border: 1px solid #ed1a23 !important;}

.schedule-chart .nav-tabs>li>a:hover {
    background: #ed1a23 !important;
    border-color: #ed1a23 !important;}

.table>thead>tr>th {
    color: #ed1a23 !important;}

.schedule-chart .nav-pills .nav-link.active {
    background-color: #ed1a23 !important;}

.trainer-item .trainer-social a i:hover {
    color: #ed1a23 !important;}

.trainer-name h4 {
    color: #ed1a23 !important;}

.counter-bdr {
    background: #ed1a23 !important;}

.filter-button {
    color: #ed1a23 !important;
    border: 1px solid #ed1a23 !important;}

.filter-button:hover {
    background-color: #ed1a23 !important;
    border-color: #ed1a23 !important;}

.filter-button.active {
    background-color: #ed1a23 !important;
    border-color: #ed1a23 !important;}

.filter-button.active:hover {
    border-color: #ed1a23 !important;}

.filter-button:active:focus, .filter-button:focus {
    background-color: #ed1a23 !important;
    border-color: #ed1a23 !important;}

.pricing-box:hover h2 {
    color: #ed1a23 !important;}

.pricing-content h3 {
    font-size: 36px;
    color: #ed1a23 !important;
    padding: 30px 0;
    margin-bottom: 0;}

.sing-up-btn:hover {
    background: #ed1a23 !important;
    border-color: #ed1a23 !important;}

.testimonial-item span {
    font-size: 12px;
    color: #ed1a23 !important;}

.testimonial-item i {
    color: #ed1a23 !important;}

.blog-sec .blog-box:hover {
    border-color: #ed1a23 !important;}

.blog-sec .blog-box .blog-img .blog-date ul li i {
    margin-right: 5px;
    color: #ed1a23 !important;}

.blog-sec .blog-content h4 a:hover {
    color: #ed1a23 !important;}

.at-comment-item a i {
    color: #ed1a23 !important;}

.at-sidebar-search .input-group-btn .btn {
    background: #ed1a23 !important;}

.at-categories ul li:hover {
    border-color: #ed1a23 !important;}

.at-categories ul li:hover a {
    color: #ed1a23 !important;}

.at-categories ul li:hover span {
    color: #ed1a23 !important;}

.at-sidebar-tags a:hover {
    border-color: #ed1a23 !important;
    background: #ed1a23 !important;}

.contact-sec h2 span {
    color: #ed1a23 !important;}

.angle-box:hover i {
    color: #ed1a23 !important;}

.page-title-sec h2 {
    color: #ed1a23 !important;}

.page-title-sec p a:hover {
    color: #ed1a23 !important;}

.footer-about-col .social i:hover {
    color: #ed1a23 !important;}

.footer-Tag-col a:hover {
    border-color: #ed1a23 !important;
    background: #ed1a23 !important;}

.footer-Tag-col .tag-btn:before {
    background: #ed1a23 !important;}

.footer-subscribe-col .input-group .btn:hover {
    background: #ed1a23 !important;}

.main-demo-heading h1 {
    color: #ed1a23 !important;}

.main-demo-heading p {
    background-color: #ed1a23 !important;}

.buy-btn:hover {
    background: #ed1a23 !important;
    color: #ffffff;
    border-color: #ed1a23 !important;}

.demo-over-layer h4 a:hover {
    color: #ed1a23 !important;}

