.main-header .navbar-light .navbar-toggler-icon:before {
		
		color: #ed1a23 !important;}

.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background: #ed1a23 !important;}

.slider-main-title span {
	    color: #ed1a23 !important;
	    }

.slider-main-title span {
	    color: #ed1a23 !important;}

